<h1>Things To Remember</h1>

<ul>
	<li>
		TextMate Key Sequences
		<ul>
			<li>
				Format HTML: (select all) then > OPTION+COMMAND+[
			</li>
		</ul>
	</li>
	<li>
		Rspec with Rails: http://cheat.errtheblog.com/s/rspec/
	</li>
	<li>
		Gem Creation Recipe: http://railscasts.com/episodes/135-making-a-gem
	</li>
	<li>
		Update Gem for Publishing
		<ul>
			<li>
				1. rake manifest
			</li>
			<li>
				2. rake build_gemspec 
			</li>
			<li>
				3. gem build foo.gemspec
			</li>
			<li>
				4. gem push foo-1.0.0.gem
			</li>
		</ul>
	</li>
	<li>
		Bookmarklet: http://coding.smashingmagazine.com/2010/05/23/make-your-own-bookmarklets-with-jquery/
	</li>
	<li>
		CanvasToImage: http://www.nihilogic.dk/labs/canvas2image/
	</li>
</ul>