<%= javascript_include_tag "jquery.qrcode.min.js" %>

<h3>Generate QR Codes</h3>
<input name="input" type=textbox style="width: 400px" value="http://uberpwn.wordpress.com" />
<input name="generate" type=button value="generate" />
<p id="output">
	
</p>

<script type="text/javascript">
$('[name=generate]').click(function(){
	$('#output').qrcode($('[name=input]').val());
});
</script>

