// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/**
 * Grid container
 */
#tiles {
list-style-type: none;
position: relative; /** Needed to ensure items are laid out relative to this container **/
margin: 0;
}

/**
 * Grid items
 */
#tiles li {
width: 200px;
height: 200px;
background-color: #ffffff;
border: 1px solid #dedede;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
display: none; /** Hide items initially to avoid a flicker effect **/
  cursor: pointer;
}

/**
 * Grid item text
 */
#tiles li p {
color: #666;
font-size: 12px;
margin: 10px 0 0 10px;
}

/**
 * Some extra styles to randomize heights of grid items.
 */
#tiles li:nth-child(3n) {
height: 175px;
}

#tiles li:nth-child(4n-3) {
padding-bottom: 30px;
}

#tiles li:nth-child(5n) {
height: 250px;
}

/** General page styling **/
  


